
body{
	background-color: rgb(66, 244, 182)
}

img{
display: block;
margin-left: auto;
margin-right: auto;
}

.petStats{
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	margin-left: 15px;
	width:15%;
	position: fixed;
	bottom: 0;
}

.uiWrapper{
	display: flex;
 	justify-content: center;
}

.nameChange{
	display: flex;
	justify-content: flex-end;
}